@media screen and (max-width: 419px){

.warper{
	width: 450px;
	margin: auto;
}

.main_continer{
	width: 419px;
}

.header_area{
	width: 100%;
	height: 80px;
}


.banar_area{
	width: 100%;
	height: 100px;
	background:linear-gradient(-90deg, #9c27b0, #003CA9);

}
.banar_logo{
	
}

.name_text p{
	font-size: 28px;
	line-height: 115px;
	
}
.banar_logo img{
	width: 50px;
	height: 70px;
	margin-top: 10px;
}

.main_menu{
	width: 100%;
}
.main_menu ul li{
	
	width: 399px;
	background: green;
}
.main_menu ul li:hover{
	background: red;
	cursor: pointer;
}

.notice_board{
	width: 100%;
	background: black;
}

.notice_hedding {
	width: 342px;
	color: red;

}
.notice_hedding a{
	color: white;
}
.slider_area{
	width: 100%;
	margin-top: 5px;
}
.slider_image img{
	width: 419px;
	height: 180px;
}
.sidemenu{
	width: 420px;
	margin-top: 5px;
}
.sidemenu ul li{
	
	border: 1px solid white;
	height: 37px;
}

section ,row{
	width: 100%;
	height: 250px;
	margin-top: -20px;
}
.coll_1{
	width: 419px;
	height: auto;
	
}
.call_1_text{
	
	color: yellow;
}

.coll_1_image img{
	width: 419px;
	height: 150px;
	margin-top: 5px;
}

.coll_1_image p{
	width: 419px;
	margin-top: 10px; 
	margin-left: 0px;
	
}
.coll_2{
	margin-left: 0px;
}
.coll_2_notice_title{
	width: 419px;
	margin-top: 10px;
}
.coll_2_notice_title h3{
	margin-left: 20px;
	font-size: 15px;
}










}